.Container{
  color: #fff;
  background-color: #051c2d;
  position: relative;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  font-family: Roboto,Arial,sans-serif;
  height: 55px;
  justify-content: space-around;
  padding: 0px 20px;
  font-weight: 400;
}

ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  flex-grow: 2;
}